
*{
    margin: 2;
    padding: 2;
    box-sizing: 2;
}

html {
    text-align:center;
    background-color: rgba(248, 99, 203, 0.307);
    font-size:larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-style: oblique;
    text-decoration: underline;
   text-decoration-color: rgb(50, 65, 36);
    background-size: contain;
 background-color: rgb(214, 241, 214);
}
h2 {
    text-align: center;
    font-style: oblique;
    font-display:unset;
    text-decoration: underline;
  background-color: grey;
}
nav {
    font-style: oblique;
    text-decoration-color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
